---
mcp_servers:
  - name: brave-search
    command: "npx -y @modelcontextprotocol/server-brave-search"
    env:
      BRAVE_API_KEY: "{{ api_keys.brave }}"
  # - name: github
  #   transport: http
  #   url: "https://api.githubcopilot.com/mcp/"
  #   headers:
  #     Authorization: "Bearer {{ api_keys.github_pat }}"

fedora_mcp_servers: []


mac_mcp_servers:
  # - name: honeycomb
  #   transport: http
  #   url: "https://mcp.honeycomb.io/mcp"
  - name: linear
    transport: sse
    url: "https://mcp.linear.app/sse"
  # - name: sentry
  #   transport: http
  #   url: "https://mcp.sentry.dev/mcp"
