---
- name: Install python3-systemd for maestral
  become: true
  dnf:
    name: python3-systemd
    state: present
  tags:
    - maestral

- name: Ensure systemd user directory exists
  file:
    path: ~/.config/systemd/user
    state: directory
    mode: '0755'
  tags:
    - maestral

- name: Install maestral systemd user service
  template:
    src: maestral.service.j2
    dest: ~/.config/systemd/user/maestral.service
  tags:
    - maestral

- name: Enable maestral to start on login
  systemd:
    name: maestral
    scope: user
    enabled: yes
    daemon_reload: yes
  tags:
    - maestral
