{
    "anthropic":  "{{ api_keys.claude }}",
    "claude":     "{{ api_keys.claude }}",
    "neuralwatt": "{{ api_keys.neuralwatt }}",
    "openai":     "{{ api_keys.openai }}",
    "opencode":   "{{ api_keys.opencode }}",
    "openrouter": "{{ api_keys.openrouter }}",
    "synthetic":  "{{ api_keys.synthetic }}",
    "zai":        "{{ api_keys.zai }}"
}
