---
- name: Set fonts directory
  set_fact:
    fonts_dir: "{{ (ansible_distribution == 'Fedora')|ternary(fedora_font_dir, mac_font_dir) }}"
  tags:
    - fonts

- name: Ensure Fonts directory exists.
  become: "{{ (ansible_distribution == 'Fedora')|ternary('yes', 'no') }}"
  file:
    group: "{{ ansible_user_gid }}"
    owner: "{{ ansible_user_id }}"
    path: "{{ fonts_dir }}"
    recurse: true
    state: directory
  tags:
    - fonts

- name: Determine directory name for font
  set_fact:
    font_dir: "{{ font|regex_replace('^([^/]+)/.*$', '\\1') }}"
  tags:
    - fonts

- name: Create directory for {{ font_dir }} fonts.
  file:
    group: "{{ ansible_user_gid }}"
    owner: "{{ ansible_user_id }}"
    path: "{{ fonts_dir }}/{{ font_dir }}"
    state: directory
  tags:
    - fonts

- name: Download {{ font|basename }}.
  get_url:
    dest: "{{ fonts_dir }}/{{ font_dir }}/{{ font|basename }}"
    group: "{{ ansible_user_gid }}"
    owner: "{{ ansible_user_id }}"
    url: "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/{{ font | regex_replace(' ', '%20') }}"
  tags:
    - fonts
