---
- name: Import repositories GPG keys
  become: true
  rpm_key:
    state: present
    key: "{{ item.gpg_url }}"
  loop: "{{ fedora_repositories }}"
  tags:
    - cli
    - repos

- name: Add repositories
  become: true
  yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.url }}"
    gpgkey: "{{ item.gpg_url }}"
    gpgcheck: "{{ item.gpg_check | bool }}"
    enabled: yes
  loop: "{{ fedora_repositories }}"
  tags:
    - cli
    - repos

- name: Import RPM Fusion Free GPG key
  become: true
  rpm_key:
    state: present
    key: https://rpmfusion.org/keys?action=AttachFile&do=get&target=RPM-GPG-KEY-rpmfusion-free-{{ ansible_distribution | lower }}-2020
  tags:
    - cli
    - repos

- name: Install RPM Fusion Free
  become: true
  dnf:
    name: https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ansible_distribution_major_version}}.noarch.rpm
    state: present
  tags:
    - cli
    - repos

- name: Add copr repositories
  become: yes
  shell: dnf copr enable {{ item.name }} -y
  args:
    creates: /etc/yum.repos.d/{{ item.creates }}
  loop: "{{ copr_repositories }}"
  tags:
    - cli
    - repos

- name: Install command line tools in Fedora
  become: true
  dnf:
    name:
      - alacritty
      - autorandr
      - bat
      - chromium
      - conky
      - crush
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      - dunst
      - eza
      - fd-find
      - feh
      - firefox
      - fish
      - fzf
      - gh
      - git-delta
      - ghostty
      - golang
      - golang-x-tools-gopls
      - helm
      - htop
      - i3
      - ImageMagick
      - jq
      - keepassxc
      - kubectl
      - neofetch
      - neovim
      - picom
      - polybar
      - python3-pip
      - ripgrep
      - rofi
      - rust
      - rustfmt
      - starship
      - sublime-text
      - terraform
      - tig
      - tmux
      - unzip
      - xclip
    state: present
  tags:
    - cli
    - packages

# Docker
# Add user to docker group
- name: Add user to docker group
  become: yes
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  tags:
    - cli
    - docker

# Fish Shell
# Fisher - https://github.com/jorgebucaran/fisher
- name: Install fisher
  shell: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
  args:
    creates: ~/.config/fish/functions/fisher.fish
    executable: fish
  tags:
    - cli
    - fish

- name: Set default shell to fish
  become: yes
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish
  tags:
    - cli
    - fish

- name: Install fish plugins
  shell: fisher install {{ item }}
  args:
    executable: /usr/bin/fish
  loop:
    - gazorby/fish-abbreviation-tips
    - jethrokuan/z
    - jorgebucaran/nvm.fish
    - PatrickF1/fzf.fish
  tags:
    - cli
    - fish

# NodeJS
- name: Install node
  shell: nvm install {{ item }}
  args:
    executable: /usr/bin/fish
  loop:
    - 18.16.0
    - latest
  tags:
    - cli
    - nodejs

# AWS CLI
- name: Download AWS CLI
  get_url: url=https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip dest=/tmp/awscliv2.zip
  register: aws_cli_download
  tags:
    - cli
    - aws

- name: Unarchive AWS CLI Installer
  unarchive: src=/tmp/awscliv2.zip dest=/tmp copy=no creates=/tmp/aws
  when: aws_cli_download.changed
  register: aws_cli_unarchive
  tags:
    - cli
    - aws

- name: Install AWS CLI
  become: yes
  shell: /tmp/aws/install --update
  args:
    creates: /usr/local/bin/aws
  when: aws_cli_unarchive.changed
  tags:
    - cli
    - aws

# NPM Packages
- name: Install npm packages
  args:
    executable: /usr/bin/fish
  shell: npm install -g {{ item }}
  loop:
    - "gatsby-cli@5.11.0"
    - "happy-coder"
    - "opencode-ai@latest"
    - "resume-cli@3.0.8"
  tags:
    - cli
    - npm

# Github CLI Extensions
- name: Install gh extensions
  shell: gh extension install {{ item }}
  args:
    executable: /usr/bin/fish
  loop:
    - dlvhdr/gh-dash
    - github/gh-copilot
  tags:
    - cli
    - gh

# API Keys for polybar scripts
- name: Set API keys as fish universal variables
  shell: |
    set -Ux OPENWEATHER_API_KEY {{ api_keys.openweather }}
    set -Ux SYNTHETIC_API_KEY {{ api_keys.synthetic }}
    set -Ux ZAI_API_KEY {{ api_keys.zai }}
  args:
    executable: /usr/bin/fish
  tags:
    - cli
    - api_keys
