---
# Fish Shell
# Fisher - https://github.com/jorgebucaran/fisher
- name: Install fisher
  shell: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
  args:
    creates: ~/.config/fish/functions/fisher.fish
    executable: fish
  tags:
    - fish

- name: Set default shell to fish
  become: yes
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/fish
  tags:
    - fish

- name: Install fish plugins
  shell: fisher install {{ item }}
  args:
    executable: /usr/bin/fish
  loop: "{{ fish_plugins }}"
  tags:
    - fish
